<div class="container">
  <h2>Sri Sai County – Villa Management</h2>

  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search by Villa No, Owner or Email" />
    <button class="search-btn" (click)="onSearch()">Search</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Villa No</th>
        <th>Road No</th>
        <th>Owner</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Occupied?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let villa of filteredVillas">
       <td>{{ villa.villaNumber }}</td>
        <td>{{ villa.roadNumber }}</td>
        <td>{{ villa.ownerName }}</td>
        <td>{{ villa.ownerEmail }}</td>
        <td>{{ villa.contactNumber }}</td>
        <td>{{ villa.isOccupied ? 'Yes' : 'No' }}</td>
        <td>
          <button class="btn gray" (click)="onEdit(villa.villaNumber)">Update</button>
          <button class="btn red" (click)="onDelete(villa.villaNumber)">Delete</button>
          <button class="btn green" (click)="onView(villa.villaNumber)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
